<?xml version="1.0"?>
<config>
    <modules>
        <Outarts_Receipt>
            <version>1.0.0</version>
        </Outarts_Receipt>
    </modules>
    <global>
        <models>
            <outarts_receipt>
                <class>Outarts_Receipt_Model</class>
            </outarts_receipt>
        </models>
        <helpers>
            <outarts_receipt>
                <class>Outarts_Receipt_Helper</class>
            </outarts_receipt>
        </helpers>
        <resources>
            <outarts_receipt_setup>
                <setup>
                    <module>Outarts_Receipt</module>
                </setup>
            </outarts_receipt_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <receipt_type>
                    <to_order>*</to_order>
                </receipt_type>
                <receipt_by_buy>
                    <to_order>*</to_order>
                </receipt_by_buy>
                <receipt_uniform_number>
                    <to_order>*</to_order>
                </receipt_uniform_number>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <outarts_receipt>
                        <class>outarts_receipt/observer</class>
                        <method>saveReceiptData</method>
                    </outarts_receipt>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
        </events>
    </frontend>
</config>