<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Newproductslider>
            <version>1.7.0.0</version>
        </Magentothem_Newproductslider>
    </modules>
    <frontend>
        <routers>
            <newproductslider>
                <use>standard</use>
                <args>
                    <module>Magentothem_Newproductslider</module>
                    <frontName>newproductslider</frontName>
                </args>
            </newproductslider>
        </routers>
        <layout>
            <updates>
                <newproductslider>
                    <file>newproductslider.xml</file>
                </newproductslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newproductslider>
				<use>admin</use>
				<args>
					<module>Magentothem_Newproductslider</module>
					<frontName>newproductslider</frontName>
				</args>
			</newproductslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="newproductslider">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<newproductslider translate="title" module="newproductslider">
						<title>New Products Slider</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/newproductslider</action>
							</configuration>
						</children>
					</newproductslider>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Newproductslider>
							<title>Newproductslider Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Newproductslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<newproductslider>
					<file>newproductslider.xml</file>
				</newproductslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <newproductslider>
                <class>Magentothem_Newproductslider_Model</class>
                <resourceModel>newproductslider_mysql4</resourceModel>
            </newproductslider>
            <newproductslider_mysql4>
                <class>Magentothem_Newproductslider_Model_Mysql4</class>
                <entities>
                    <newproductslider>
                        <table>newproductslider</table>
                    </newproductslider>
                </entities>
            </newproductslider_mysql4>
        </models>
        <resources>
            <newproductslider_setup>
                <setup>
                    <module>Magentothem_Newproductslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproductslider_setup>
            <newproductslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproductslider_write>
            <newproductslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproductslider_read>
        </resources>
        <blocks>
            <newproductslider>
                <class>Magentothem_Newproductslider_Block</class>
            </newproductslider>
        </blocks>
        <helpers>
            <newproductslider>
                <class>Magentothem_Newproductslider_Helper</class>
            </newproductslider>
        </helpers>
    </global>
	<default>
		<newproductslider>
			<newproductslider_config>
				<enabled>1</enabled>
				<title>New Products</title>
				<auto>0</auto>
				<speed>3000</speed>
				<interval>600</interval>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>0</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>10</qty>
				<items_show>5</items_show>
				<item_width>220</item_width>
				<width_thumbnail>300</width_thumbnail>
				<height_thumbnail>300</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</newproductslider_config>
		</newproductslider>
	</default>
</config>