<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Banner7>
            <version>1.7.0.0</version>
        </Magentothem_Banner7>
    </modules>
    <frontend>
        <routers>
            <banner7>
                <use>standard</use>
                <args>
                    <module>Magentothem_Banner7</module>
                    <frontName>banner7</frontName>
                </args>
            </banner7>
        </routers>
        <layout>
            <updates>
                <banner7>
                    <file>banner7.xml</file>
                </banner7>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<banner7>
				<use>admin</use>
				<args>
					<module>Magentothem_Banner7</module>
					<frontName>banner7</frontName>
				</args>
			</banner7>
        </routers>
    </admin>
    <adminhtml>
	<menu>
		<magentothem translate="title" module="banner7">
			<title>Magentothem</title>
			<sort_order>71</sort_order>               
			<children>
				<banner7 translate="title" module="banner7">
					<title>Banner7</title>
					<sort_order>0</sort_order>
					<children>
						<items translate="title" module="banner7">
							<title>Manage Items</title>
							<sort_order>0</sort_order>
							<action>banner7/adminhtml_banner7</action>
						</items>
						<configuration>
							<title>Configuration</title>
							<sort_order>1</sort_order>
							<action>adminhtml/system_config/edit/section/banner7</action>
						</configuration>
					</children>
				</banner7>
			</children>
		</magentothem>
	</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Banner7>
							<title>Banner7 Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Banner7>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<banner7>
					<file>banner7.xml</file>
				</banner7>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <banner7>
                <class>Magentothem_Banner7_Model</class>
                <resourceModel>banner7_mysql4</resourceModel>
            </banner7>
            <banner7_mysql4>
                <class>Magentothem_Banner7_Model_Mysql4</class>
                <entities>
                    <banner7>
                        <table>banner7</table>
                    </banner7>
                </entities>
            </banner7_mysql4>
        </models>
        <resources>
            <banner7_setup>
                <setup>
                    <module>Magentothem_Banner7</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner7_setup>
            <banner7_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner7_write>
            <banner7_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner7_read>
        </resources>
        <blocks>
            <banner7>
                <class>Magentothem_Banner7_Block</class>
            </banner7>
        </blocks>
        <helpers>
            <banner7>
                <class>Magentothem_Banner7_Helper</class>
            </banner7>
        </helpers>
    </global>
	<default>
		<banner7>
			<banner7_config>
				<enabled>1</enabled>
				<auto>1</auto>
				<animation>fade</animation>
				<speed>3000</speed>
				<interval>600</interval>
				<qty_item>4</qty_item>
				<description>0</description>
				<next_back>0</next_back>
				<nav_ctrl>1</nav_ctrl>
			</banner7_config>
		</banner7>
	</default>
</config>