<?xml version="1.0"?>
<config>
	<tabs>
		<magentothem translate="label" module="banner7">
			<label>Magentothem</label>
			<sort_order>205</sort_order>
		</magentothem>
	</tabs>
	<sections>
		<banner7 translate="label" module="banner7">
			<label>Banner7</label>
			<tab>magentothem</tab>
			<sort_order>130</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<banner7_config translate="label">
					<label>Banner7 Config</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</enabled>
						<auto translate="label comment">
							<label>Auto play:</label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</auto>	
                        <animation translate="label">
                            <label>Animation Type: </label>
                            <frontend_type>select</frontend_type>
                            <source_model>
								banner7/config_mode
							</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </animation>
                        <speed translate="label">
                            <label>Slideshow Speed: </label>
                            <frontend_type>text</frontend_type>
							<comment>Set the speed of the slideshow cycling, in milliseconds</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </speed>
						<interval>
							<label>Animation Speed: </label>
							<frontend_type>text</frontend_type>
							<comment>Set the speed of animations, in milliseconds</comment>
							<sort_order>32</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
						</interval>
						<qty_item translate="label">
                            <label>Qty of items: </label>
                            <frontend_type>text</frontend_type>
							<comment>Number item display</comment>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </qty_item>
						<description translate="label comment">
							<label>Show description:</label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>37</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</description>	
						<next_back translate="label">
							<label>Show Next/Back control: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</next_back>
						<nav_ctrl translate="label">
							<label>Show navigation control: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>42</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</nav_ctrl>
					</fields>
				</banner7_config>						
			</groups>
		</banner7>
	</sections>
</config>


