<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Themeoptions>
            <version>1.7.0.0</version>
        </Magentothem_Themeoptions>
    </modules>
    <frontend>
        <routers>
            <themeoptions>
                <use>standard</use>
                <args>
                    <module>Magentothem_Themeoptions</module>
                    <frontName>themeoptions</frontName>
                </args>
            </themeoptions>
        </routers>
        <layout>
            <updates>
                <themeoptions>
                    <file>themeoptions.xml</file>
                </themeoptions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<themeoptions>
				<use>admin</use>
				<args>
					<module>Magentothem_Themeoptions</module>
					<frontName>themeoptions</frontName>
				</args>
			</themeoptions>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<themeoptions>
					<file>themeoptions.xml</file>
				</themeoptions>
			</updates>
		</layout>
		<menu>
			<magentothem translate="title" module="themeoptions">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<themeoptions translate="title" module="themeoptions">
						<title>Theme Options</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/themeoptions</action>
							</configuration>
						</children>
					</themeoptions>
				</children>
			</magentothem>
		</menu>
    </adminhtml>   
    <global>
        <models>
            <themeoptions>
                <class>Magentothem_Themeoptions_Model</class>
                <resourceModel>themeoptions_mysql4</resourceModel>
            </themeoptions>
            <themeoptions_mysql4>
                <class>Magentothem_Themeoptions_Model_Mysql4</class>
                <entities>
                    <themeoptions>
                        <table>themeoptions</table>
                    </themeoptions>
                </entities>
            </themeoptions_mysql4>
        </models>
        <resources>
            <themeoptions_setup>
                <setup>
                    <module>Magentothem_Themeoptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </themeoptions_setup>
            <themeoptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </themeoptions_write>
            <themeoptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </themeoptions_read>
        </resources>
        <blocks>
            <themeoptions>
                <class>Magentothem_Themeoptions_Block</class>
            </themeoptions>
        </blocks>
        <helpers>
            <themeoptions>
                <class>Magentothem_Themeoptions_Helper</class>
            </themeoptions>
        </helpers>
    </global>
	<default>
		<themeoptions>
			<themeoptions_config>
				<theme_color>skin1</theme_color>
				<menu_style>wine_menu</menu_style>
				<grid_product>3</grid_product>
				<new_label>1</new_label>
				<sale_label>1</sale_label>
			</themeoptions_config>
		</themeoptions>
	</default>
</config>