<?xml version="1.0"?>
<config>
    <modules>
        <AW_Aheadmetrics>
            <version>1.0.3.2</version>
        </AW_Aheadmetrics>
    </modules>
    <crontab>
        <jobs>
            <awaheadmetrics_sync>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>awaheadmetrics/crontab::sync</model>
                </run>
            </awaheadmetrics_sync>
        </jobs>
    </crontab>
    <default>
        <awaheadmetrics>
            <processing>
                <server>https://app.aheadmetrics.com</server>
            </processing>
            <dashboard>
                <enabled>0</enabled>
            </dashboard>
        </awaheadmetrics>
    </default>
    <global>
        <models>
            <awaheadmetrics>
                <class>AW_Aheadmetrics_Model</class>
                <resourceModel>awaheadmetrics_resource</resourceModel>
            </awaheadmetrics>
            <awaheadmetrics_resource>
                <class>AW_Aheadmetrics_Model_Resource</class>
                <deprecatedNode>awaheadmetrics_mysql4</deprecatedNode>
                <entities>
                    <sync>
                        <table>aw_aheadmetrics_sync</table>
                    </sync>
                </entities>
            </awaheadmetrics_resource>
        </models>
        <resources>
            <awaheadmetrics_setup>
                <setup>
                    <module>AW_Aheadmetrics</module>
                </setup>
            </awaheadmetrics_setup>
        </resources>

        <helpers>
            <awaheadmetrics>
                <class>AW_Aheadmetrics_Helper</class>
            </awaheadmetrics>
        </helpers>
        <blocks>
            <awaheadmetrics>
                <class>AW_Aheadmetrics_Block</class>
            </awaheadmetrics>
            <!--<adminhtml>-->
            <!--<rewrite>-->
            <!--<dashboard>AW_Aheadmetrics_Block_Adminhtml_Dashboard</dashboard>-->
            <!--<page_head>AW_Aheadmetrics_Block_Adminhtml_Page_Head</page_head>-->
            <!--</rewrite>-->
            <!--</adminhtml>-->
        </blocks>
        <events>
            <model_save_commit_after>
                <observers>
                    <awaheadmetrics_model_save_after>
                        <type>singleton</type>
                        <class>AW_Aheadmetrics_Model_Observer</class>
                        <method>modelSaveAfter</method>
                    </awaheadmetrics_model_save_after>
                </observers>
            </model_save_commit_after>
            <model_delete_after>
                <observers>
                    <awaheadmetrics_model_delete_after>
                        <type>singleton</type>
                        <class>AW_Aheadmetrics_Model_Observer</class>
                        <method>modelDeleteAfter</method>
                    </awaheadmetrics_model_delete_after>
                </observers>
            </model_delete_after>
            <controller_action_layout_render_before_adminhtml_dashboard_index>
                <observers>
                    <awaheadmetrics_before_dashboard>
                        <type>singleton</type>
                        <class>AW_Aheadmetrics_Model_Observer</class>
                        <method>beforeDashboard</method>
                    </awaheadmetrics_before_dashboard>
                </observers>
            </controller_action_layout_render_before_adminhtml_dashboard_index>
            <admin_system_config_changed_section_awaheadmetrics>
                <observers>
                    <awaheadmetrics_config_save>
                        <type>singleton</type>
                        <class>AW_Aheadmetrics_Model_Observer</class>
                        <method>afterConfigSave</method>
                    </awaheadmetrics_config_save>
                </observers>
            </admin_system_config_changed_section_awaheadmetrics>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <AW_Aheadmetrics>
                    <files>
                        <default>AW_Aheadmetrics.csv</default>
                    </files>
                </AW_Aheadmetrics>
            </modules>
        </translate>
        <routers>
            <AW_Aheadmetrics>
                <use>standard</use>
                <args>
                    <module>AW_Aheadmetrics</module>
                    <frontName>aheadmetrics</frontName>
                </args>
            </AW_Aheadmetrics>
        </routers>
        <layout>
            <updates>
                <AW_Aheadmetrics>
                    <file>AW_Aheadmetrics.xml</file>
                </AW_Aheadmetrics>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <AW_Aheadmetrics>
                <use>admin</use>
                <args>
                    <module>AW_Aheadmetrics</module>
                    <frontName>aheadmetrics_admin</frontName>
                </args>
            </AW_Aheadmetrics>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Aheadmetrics>
                    <files>
                        <default>AW_Aheadmetrics.csv</default>
                    </files>
                </AW_Aheadmetrics>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awaheadmetrics>
                                            <title>aheadWorks - aheadMetrics</title>
                                        </awaheadmetrics>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <AW_Aheadmetrics>
                    <file>aw_aheadmetrics.xml</file>
                </AW_Aheadmetrics>
            </updates>
        </layout>
    </adminhtml>
</config>
