<?xml version="1.0"?>
<config>
    <tabs>
        <awall translate="label" module="awaheadmetrics">
            <label>aheadWorks Extensions</label>
            <sort_order>300</sort_order>
        </awall>
    </tabs>
    <sections>
        <awaheadmetrics translate="label" module="awaheadmetrics">
            <label>aheadMetrics</label>
            <tab>awall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>140</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <security translate="label">
                    <label>Syncronization Auth Data</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <authkey translate="label">
                            <label>Auth Key</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>0</can_be_empty>
                          <!--  <backend_model>adminhtml/system_config_backend_encrypted</backend_model> -->
                        </authkey>
                    </fields>
                </security>
                <dashboard translate="label">
                    <label>Dashboard Integration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <domain translate="label">
                            <label>Domain Name</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[<strong>name</strong>.aheadmetrics.com]]></comment>
                        </domain>
                    </fields>
                </dashboard>
            </groups>
        </awaheadmetrics>
    </sections>
</config>
