<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Featuredproduct>
            <version>1.5.0.1</version>
        </Magentothem_Featuredproduct>
    </modules>
    <frontend>
        <routers>
            <featuredproduct>
                <use>standard</use>
                <args>
                    <module>Magentothem_Featuredproduct</module>
                    <frontName>featuredproduct</frontName>
                </args>
            </featuredproduct>
        </routers>
        <layout>
            <updates>
                <featuredproduct>
                    <file>featuredproduct.xml</file>
                </featuredproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredproduct>
				<use>admin</use>
				<args>
					<module>Magentothem_Featuredproduct</module>
					<frontName>featuredproduct</frontName>
				</args>
			</featuredproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="featuredproduct">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<featuredproduct translate="title" module="featuredproduct">
						<title>Featured Products</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/featuredproduct</action>
							</configuration>
						</children>
					</featuredproduct>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Featuredproduct>
							<title>Featuredproduct Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Featuredproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<featuredproduct>
					<file>featuredproduct.xml</file>
				</featuredproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <featuredproduct>
                <class>Magentothem_Featuredproduct_Model</class>
                <resourceModel>featuredproduct_mysql4</resourceModel>
            </featuredproduct>
            <featuredproduct_mysql4>
                <class>Magentothem_Featuredproduct_Model_Mysql4</class>
                <entities>
                    <featuredproduct>
                        <table>featuredproduct</table>
                    </featuredproduct>
                </entities>
            </featuredproduct_mysql4>
        </models>
        <resources>
            <featuredproduct_setup>
                <setup>
                    <module>Magentothem_Featuredproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproduct_setup>
            <featuredproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproduct_write>
            <featuredproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproduct_read>
        </resources>
        <blocks>
            <featuredproduct>
                <class>Magentothem_Featuredproduct_Block</class>
            </featuredproduct>
        </blocks>
        <helpers>
            <featuredproduct>
                <class>Magentothem_Featuredproduct_Helper</class>
            </featuredproduct>
        </helpers>
    </global>
	<default>
		<featuredproduct>
			<featuredproduct_config>
				<enabled>1</enabled>
				<title>Featured Products</title>
				<sort>name</sort>
				<direction>asc</direction>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>1</review>
				<description>0</description>
				<qty>8</qty>
				<items>4</items>
				<width>300</width>
				<height>300</height>
			</featuredproduct_config>
		</featuredproduct>
	</default>
</config>