<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Newproductvertscroller>
            <version>1.6.2.0</version>
        </Magentothem_Newproductvertscroller>
    </modules>
    <frontend>
        <routers>
            <newproductvertscroller>
                <use>standard</use>
                <args>
                    <module>Magentothem_Newproductvertscroller</module>
                    <frontName>newproductvertscroller</frontName>
                </args>
            </newproductvertscroller>
        </routers>
        <layout>
            <updates>
                <newproductvertscroller>
                    <file>newproductvertscroller.xml</file>
                </newproductvertscroller>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newproductvertscroller>
				<use>admin</use>
				<args>
					<module>Magentothem_Newproductvertscroller</module>
					<frontName>newproductvertscroller</frontName>
				</args>
			</newproductvertscroller>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="newproductvertscroller">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<newproductvertscroller translate="title" module="newproductvertscroller">
						<title>New Product Vertical Scroller</title>
						<sort_order>48</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/newproductvertscroller</action>
							</configuration>
						</children>
					</newproductvertscroller>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<newproductvertscroller>
											<title>New Product Vertical Scroller</title>
										</newproductvertscroller>
									</children>
								</config>
							</children>
						</system>					
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<newproductvertscroller>
					<file>newproductvertscroller.xml</file>
				</newproductvertscroller>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <newproductvertscroller>
                <class>Magentothem_Newproductvertscroller_Model</class>
                <resourceModel>newproductvertscroller_mysql4</resourceModel>
            </newproductvertscroller>
            <newproductvertscroller_mysql4>
                <class>Magentothem_Newproductvertscroller_Model_Mysql4</class>
                <entities>
                    <newproductvertscroller>
                        <table>newproductvertscroller</table>
                    </newproductvertscroller>
                </entities>
            </newproductvertscroller_mysql4>
        </models>
        <resources>
            <newproductvertscroller_setup>
                <setup>
                    <module>Magentothem_Newproductvertscroller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproductvertscroller_setup>
            <newproductvertscroller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproductvertscroller_write>
            <newproductvertscroller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproductvertscroller_read>
        </resources>
        <blocks>
            <newproductvertscroller>
                <class>Magentothem_Newproductvertscroller_Block</class>
            </newproductvertscroller>
        </blocks>
        <helpers>
            <newproductvertscroller>
                <class>Magentothem_Newproductvertscroller_Helper</class>
            </newproductvertscroller>
        </helpers>
    </global>
	<default>
		<newproductvertscroller>
			<newproductvertscroller_config>
				<enabled>1</enabled>
				<left>1</left>
				<right>0</right>
				<auto>0</auto>
				<title>New Products</title>
				<sort>name</sort>
				<direction>asc</direction>
				<width_scroller>172</width_scroller>
				<height_scroller>360</height_scroller>
				<price>1</price>
				<review>1</review>
				<addtocart>0</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<description>0</description>
				<qty>6</qty>
				<items_show>3</items_show>
				<items_scroll>1</items_scroll>
				<animation>1000</animation>
				<width_thumbnail>75</width_thumbnail>
				<height_thumbnail>75</height_thumbnail>
			</newproductvertscroller_config>
		</newproductvertscroller>
	</default>
</config>