<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_AmazingWysiwyg>
            <version>1.0.1</version>
        </Mgt_AmazingWysiwyg>
    </modules>
    <global>
        <blocks>
            <mgt_amazing_wysiwyg>
                <class>Mgt_AmazingWysiwyg_Block</class>
            </mgt_amazing_wysiwyg>
            <mgt_amazing_wysiwyg_adminhtml>
                <class>Mgt_AmazingWysiwyg_Block_Adminhtml</class>
            </mgt_amazing_wysiwyg_adminhtml>
            <adminhtml>
              <rewrite>
                  <catalog_helper_form_wysiwyg>Mgt_AmazingWysiwyg_Block_Adminhtml_Catalog_Helper_Form_Wysiwyg</catalog_helper_form_wysiwyg>
              </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mgt_amazing_wysiwyg>
                <class>Mgt_AmazingWysiwyg_Model</class>
            </mgt_amazing_wysiwyg>
            <core>
               <rewrite>
                  <store>Mgt_AmazingWysiwyg_Model_Core_Store</store>
               </rewrite>
            </core>
        </models>
        <helpers>
            <mgt_amazing_wysiwyg>
                <class>Mgt_AmazingWysiwyg_Helper</class>
            </mgt_amazing_wysiwyg>
        </helpers>
        <events>
            <adminhtml_controller_action_predispatch_start>>
                <observers>
                    <mgt_amazing_wysiwyg_set_merge_js_config_value>
                        <class>mgt_amazing_wysiwyg/observer</class>
                        <method>setMergeJsConfigValue</method>
                    </mgt_amazing_wysiwyg_set_merge_js_config_value>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <mgt_amazing_wysiwyg_add_js>
                        <class>mgt_amazing_wysiwyg/observer</class>
                        <method>addJs</method>
                    </mgt_amazing_wysiwyg_add_js>
                 </observers>
            </core_block_abstract_to_html_after>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <mgt_amazing_wysiwyg_add_css_class>
                        <class>mgt_amazing_wysiwyg/observer</class>
                        <method>addCmsPageCssClass</method>
                    </mgt_amazing_wysiwyg_add_css_class>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
            <adminhtml_block_html_before>
                <observers>
                    <mgt_amazing_wysiwyg_static_block_add_css_class>
                        <class>mgt_amazing_wysiwyg/observer</class>
                        <method>addStaticBlockCssClass</method>
                    </mgt_amazing_wysiwyg_static_block_add_css_class>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt_amazing_wysiwyg translate="title" module="mgt_amazing_wysiwyg">
                                            <title>mgt-commerce</title>
                                        </mgt_amazing_wysiwyg>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <layout>
          <updates>
            <mgt_amazing_wysiwyg>
              <file>mgt_amazing_wysiwyg.xml</file>
            </mgt_amazing_wysiwyg>
          </updates>
        </layout>  
    </adminhtml>
    <admin>
      <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mgt_AmazingWysiwyg before="Mage_Adminhtml">Mgt_AmazingWysiwyg_Adminhtml</Mgt_AmazingWysiwyg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
