<?xml version="1.0"?>
<config>
    <tabs>
        <mgt-commerce translate="label" module="mgt_amazing_wysiwyg">
            <label>Mgt-Commerce.com</label>
            <sort_order>105</sort_order>
        </mgt-commerce>
    </tabs>
    <sections>
        <mgt_amazing_wysiwyg translate="label" module="mgt_amazing_wysiwyg">
            <label>Amazing WYSIWYG Editor</label>
            <tab>mgt-commerce</tab>
            <frontend_type>text</frontend_type>
            <sort_order>90</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <mgt_amazing_wysiwyg translate="label">
                  <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <enable_wysiwyg_product translate="label">
                            <label>Enable for products</label>
                            <comment>enabled editor for description and short_description</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </enable_wysiwyg_product>
                        <enable_wysiwyg_cms_page translate="label">
                            <label>Enable for cms pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </enable_wysiwyg_cms_page>
                        <enable_wysiwyg_static_block translate="label">
                            <label>Enable for static blocks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </enable_wysiwyg_static_block>
                    </fields>
                </mgt_amazing_wysiwyg>
            </groups>
        </mgt_amazing_wysiwyg>
    </sections>
</config>
