<?xml version="1.0"?>
<config>
  <modules>
    <Magehouse_Slider>
      <version>0.1.0</version>
    </Magehouse_Slider>
  </modules>
  <global>
    <helpers>
      <slider>
        <class>Magehouse_Slider_Helper</class>
      </slider>
    </helpers>
    <blocks>
      <catalog>
        <rewrite>
		  <layer_filter_price>Magehouse_Slider_Block_Catalog_Layer_Filter_Price</layer_filter_price>
        </rewrite>
      </catalog>
    </blocks>
    <models>
      <catalog>
        <rewrite>
          <layer>Magehouse_Slider_Model_Catalog_Layer</layer>
        </rewrite>
      </catalog>
	  <catalogsearch>
        <rewrite>
          <layer>Magehouse_Slider_Model_Catalogsearch_Layer</layer>
        </rewrite>
      </catalogsearch>
    </models>
  </global>
  <frontend>
    <layout>
      <updates>
        <slider>
          <file>slider.xml</file>
        </slider>
      </updates>
    </layout>
  </frontend>
  <default>
    <price_slider>
      <price_slider_settings>
		<slider_loader_active>1</slider_loader_active>
		<include_jquery>1</include_jquery>
		<include_jquery_ui>1</include_jquery_ui>
	  </price_slider_settings>
      <price_slider_conf>
	  	<timeout>500</timeout>
		<use_image>0</use_image>
		<!--
        <handle_color>#333333</handle_color>
        <background_color>#eeeeee</background_color>
        <range_color>#ffbb35</range_color>
		<handle_width>16</handle_width>
		<handle_height>14</handle_height>
		<slider_width>auto</slider_width>
		<slider_height>7</slider_height>-->
		
      </price_slider_conf>
    </price_slider>
  </default>
</config>
