<?xml version="1.0"?>
<!-- 
/**
 * @category   Apptha
 * @package    Apptha_Invitefriends
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Apptha_Invitefriends>
            <version>0.1.0</version>
        </Apptha_Invitefriends>
    </modules>
    <frontend>
        <routers>
            <invitefriends>
                <use>standard</use>
                <args>
                    <module>Apptha_Invitefriends</module>
                    <frontName>invitefriends</frontName>
                </args>
            </invitefriends>
        </routers>
        <layout>
            <updates>
                <invitefriends>
                    <file>invitefriends.xml</file>
                </invitefriends>
            </updates>
        </layout>
          <translate>
			<modules>
				<Apptha_Invitefriends>
					<files>
						<default>Apptha_Invitefriends.csv</default>
					</files>
				</Apptha_Invitefriends>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<invitefriends>
				<use>admin</use>
				<args>
					<module>Apptha_Invitefriends</module>
					<frontName>invitefriends</frontName>
				</args>
			</invitefriends>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<invitefriends module="invitefriends">
				<title>Invite Friends</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="invitefriends">
						<title>Manage Invite Friends</title>
						<sort_order>0</sort_order>
						<action>invitefriends/adminhtml_invitefriends</action>
					</items>
                                        <itemsconfig module="invitefriends">
						<title>Configuration</title>
						<sort_order>1</sort_order>
						<action>adminhtml/system_config/edit/section/invitefriends</action>
					</itemsconfig>
				</children>
			</invitefriends>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Apptha_Invitefriends>
							<title>Invitefriends Module</title>
							<sort_order>10</sort_order>
						</Apptha_Invitefriends>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<invitefriends>
					<file>invitefriends.xml</file>
				</invitefriends>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <events>
            <customer_save_after>
            	<observers>
                    <invitefriends>
                        <type>singleton</type>
                        <class>invitefriends/observer</class>
                        <method>customerSaveAfter</method>
                    </invitefriends>
                </observers>
            </customer_save_after>
            <customer_login>
                <observers>
                    <invitefriends>
                        <type>singleton</type>
                        <class>invitefriends/observer</class>
                        <method>customerSaveAfter</method>
                    </invitefriends>
                </observers>
            </customer_login>
            <sales_quote_collect_totals_after>
                <observers>
                    <invitefriends>
                        <type>singleton</type>
                        <class>Apptha_Invitefriends_Model_Observer</class>
                        <method>setdiscountamount</method>
                    </invitefriends>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_place_after>
		<observers>
                    <invitefriends>
                        <type>singleton</type>
                        <class>invitefriends/observer</class>
                        <method>placeAfter</method>
                    </invitefriends>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
            	<observers>
                    <invitefriends>
                        <type>singleton</type>
                        <class>invitefriends/observer</class>
                        <method>saveOrderInvoiceAfter</method>
                    </invitefriends>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_payment_cancel>
            	<observers>
                    <invitefriends>
                        <type>singleton</type>
                        <class>invitefriends/observer</class>
                        <method>paymentCancel</method>
                    </invitefriends>
                </observers>
            </sales_order_payment_cancel>
        </events>
        <models>
            <invitefriends>
                <class>Apptha_Invitefriends_Model</class>
                <resourceModel>invitefriends_mysql4</resourceModel>
            </invitefriends>
            
            <invitefriends_mysql4>
                <class>Apptha_Invitefriends_Model_Mysql4</class>
                <entities>
                    <invitefriends>
                        <table>apptha_invitefriends_history</table>
                    </invitefriends>
                    <customer>
			<table>apptha_invitefriends_customer</table>
		   </customer>
                </entities>
            </invitefriends_mysql4>
        </models>
        <resources>
            <invitefriends_setup>
                <setup>
                    <module>Apptha_Invitefriends</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </invitefriends_setup>
            <invitefriends_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </invitefriends_write>
            <invitefriends_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </invitefriends_read>
        </resources>
        <blocks>
            <invitefriends>
                <class>Apptha_Invitefriends_Block</class>
            </invitefriends>
             <adminhtml>
            	<rewrite>
            		<customer_edit_tabs>Apptha_Invitefriends_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <invitefriends>
                <class>Apptha_Invitefriends_Helper</class>
            </invitefriends>
        </helpers>
     
       <template>
		  <email>
		    <invitefriends_email_settings_email_template translate="label" module="invitefriends">
			      <label>Customer's Email Template</label>
			      <file>apptha_invitefriends/apptha_invitation_email.html</file>
			      <type>html</type>
		    </invitefriends_email_settings_email_template>

		  </email>
    </template>
    </global>
    <crontab>
        <jobs>
            <Apptha_invitefriends_observer>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>invitefriends/observer::updateFriendpurchase</model>
                </run>
            </Apptha_invitefriends_observer>
        </jobs>
    </crontab>
</config>