/**
* Customer reward template
*/
/************* Checkout Cart Item *****************/
.reward-points-spending .label, .reward-points-earning .label { color: #1e7ec8; font-weight: bold; cursor: pointer; }
.reward-points-spending .content { padding-left: 6px;}

/************* View Rule page *******************/
.customerreward-rule-lbl { color: #3182be; font-style: italic;}

/************** Customer Reward Slider ***************/
#customerreward-slider-container {}
#customerreward-slider { position: relative; z-index: 9; height: 18px; margin: 12px auto 18px; padding: 0 24px; cursor: pointer; width: 209px; float: left;}
#customerreward-slider-zoom-out { position: absolute; left: 1px; top: 0px;}
#customerreward-track { position: relative; height: 18px; background: url('../../images/customerreward/reward_rule.gif') -1px 0px repeat-x;}
#customerreward-handle { position: absolute; top: -1px; width: 9px; height: 22px; background: url('../../images/magnifier_handle.gif') 0 0 no-repeat;}
#customerreward-slider-zoom-in { position: absolute; right: 1px; top: 0px;}
.customerreward-slider-label { margin: 12px 0 0 5px; float: left;}

#customerreward-login-msg, #customerreward-needmore-msg { clear:both; min-height:13px; margin:3px 0 0; padding-left:17px;line-height:13px; background:url('../../images/validation_advice_bg.gif') 2px 0 no-repeat; color:#eb340a;}

#customerreward-needmore-points { font-size: 13px; font-weight: bold;}


/******* Cart Page *******/
.rewards-sales-rules dt {margin-top: 7px;}
.rewards-sales-rules dt label {font-weight: bold; color: #666;}
.rewards-sales-rules dd {margin-left: 7px;}
.rewards-sales-rules #customerreward-slider {margin-bottom: 10px;}
.rewards-sales-rules #reward_sales_rule {width: 140px; margin-left: 3px;}
.customerreward-slider-input .input-point {text-align: center;}
.customerreward-slider-input .input-max {margin-top: 5px;}
#reward_sales_point {width: 49px;}
#reward_ajax_loading {margin: 10px; text-align: center; font-style: italic;}

.rule_refreshing_label {color: #666; font-style: italic;}

/********** Checkout Page *************/
.content #cart-rewards-form {width: 280px;}
.content #cart-rewards-form .rewards-sales-rules label {float: none;}
.content .rewards-sales-rules dd label {font-weight: normal; color: #000;}

/*********** Report Dashboard *********/
#diagram_tab li {margin: 0px; text-align: center;}
/*TAB*/
#diagram_tab_newloyaltymember {width: 230px;}
#diagram_tab_earnedspent {width: 230px;}
#diagram_tab_averageorderpointearned {width: 315px;}
#diagram_tab_storesignups {width: 220px;}
#diagram_tab_newslettersubscription {width: 335px;}
#diagram_tab_productreview {width: 220px;}

.rewards-report-number {font-size: 24px;}